/target/generated-sources/Action.java
/target/generated-sources/Role.java
/target/generated-sources/Stock.java
/target/generated-sources/User.java
/target/generated-sources/UserLivre.java
/target/generated-sources/UserLivreId.java
/target/generated-sources/UserRole.java
/target/generated-sources/UserRoleId.ja